{% extends 'basic.html' %}
{% block title %}
About Us
{% endblock title %}
{% block about %}
menu-active
{% endblock about %}

{% block body %}
<h2 class="text-center text-danger">About Us</h2>
<p>Arysta LifeScience is a global provider of crop protection and life science products. 
Arysta LifeScience Kenya Limited was formed in 2001 when two agricultural-chemical businesses were spun out of Japanese trading houses and merged. 
Chemical manufacturer Arysta specializes in insecticides, fungicides, herbicides and related agrochemicals and currently has around 3600 product registrations in more than 100 countries. 
This company is in many countries including Kenya which is slowly coming up.
</p>
{% endblock body %}